apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app
          image: irwan34/python-app:256149e2de2e77a6628429af7716411aefa3ef11
          ports:
            - containerPort: 8000

