apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app
          image: irwan34/python-app:bd446fbda8833e4403bf84ebd35974344a50a996
          ports:
            - containerPort: 8000

