apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: production
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: irwan34/python-app@sha256:c59bcd56b171382bd479f797f283838e2f3d118a3ceb3cbaa129ba0a552718e5
          ports:
            - containerPort: 8000

