apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: irwan34/python-app@sha256:04b5194ab0c8b51334e211d86d3b95bc07dd6c4a11a230b8709aef7c65858c6d
          ports:
            - containerPort: 8000

